PORT=3000
MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
SPREADSHEET_PRIVATE_KEY_ID=
SPREADSHEET_PRIVATE_KEY=
SPREADSHEET_CLIENT_EMAIL=
SPREADSHEET_CLIENT_ID=
MONGODB_URL=mongodb://localhost/melimgr
ORDERS_SPREADSHEET_ID=1CPwBbJaDwLbv80S5__LK8_5LZOQ5NE5_zXo45um1LNQ
ORDERS_SPREADSHEET_SHEETNAME="Ventas 2018"
CUSTOMERS_SPREADSHEET_ID=1CPwBbJaDwLbv80S5__LK8_5LZOQ5NE5_zXo45um1LNQ
CUSTOMERS_SPREADSHEET_SHEETNAME="Clientes"
