<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/css/style.css'/>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src="/public/js/index.js"></script>
    <title>MeLi Manager</title>
</head>
<body>
{{{body}}}
</body>
</html>
